

export default {
  openGraph: {
    type: 'website',
    locale: 'en_IE',
    url: 'https://outlinedesigns.co.ke',
    site_name: 'Outline Designs',
  },
  twitter: {
    handle: '@outlinedesigns',
    site: 'Outline Designs',
    cardType: 'summary_large_image',
  },
  additionalInformation: {
    contactEmail: 'contact@outlinedesigns.co.ke',
    phone: '+1 (123) 456-7890',
    address: '123 Main Street, City, Country',
    description:
      'Outline Designs is a premier construction company offering exceptional building design and construction services. Transforming architectural visions into reality with industry best practices, sustainability, and innovation.',
    keywords: [
      'Outline Designs',
      'construction company',
      'building design',
      'construction services',
      'sustainability',
      'jenga',
      'kenya',
      'architectural firm',
      'innovation',
    ],
    logo: "https://outlinedesigns.co.ke/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FLogo.9b4aee67.png&w=128&q=75"},
};
